* {
  margin:0;
  padding:0;
  box-sizing:border-box
}
body {
  line-height:1.6;
  color: #222;
  background: #fff
}
header { 
  border-bottom: 3px solid #000000
}
.navbar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 30px 10px;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.logo a {
  text-decoration: none;
}
.logo a img {
  width: 150px;
}
nav { 
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
nav a {
  padding: 8px 16px;
	font-weight: bold;
  border-radius:4px;
  text-decoration: none;
  color: #222;
  transition: background .2s;
}
nav a:hover { 
    background:#e0e0e0
}
@media(max-width: 800px){
	.navbar{ 
		flex-direction: column;
		gap: 14px
	}
}
@media(max-width: 650px){
	nav a {
		width: 100%;
		text-align: center;
	}
}
main {
  max-width: 1100px;
  margin: 0.5rem auto;
  padding: 20px 40px
}
.music-row {
  display: flex;
  gap: 25px;
  align-items:center;
  margin: 30px 0 30px;

  flex-wrap: wrap;
}
.music-label{
  border: 3px solid #000;
  padding: 0.9rem 1.6rem;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 6px;
}
.music-desc {
  flex: 1;
  border: 2px solid #999;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}
.music-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 48px 24px;
  margin-bottom: 20px;
}
.music-item iframe{
  width: 100%;
  aspect-ratio:16/9;
  display: block;
  border: 1px solid #ccc;
  border-radius: 6px;
  object-fit: cover;
}
.music-caption{
  margin-top: 14px;
  border: 2px solid #ccc;
  padding: 0.7rem;
  text-align: center;
  color:#575757;
}
@media(max-width:800px){
  .music-grid{
    grid-template-columns: 1fr;
  }
}
@media(max-width:600px){
  .music-label{
    width: 100%;
    text-align:center;
  }
  .music-grid{
    grid-template-columns: 1fr;
  }
} 

footer {
    margin-top: 10px;
    background:#ececec;
    padding: 16px 0;
    text-align:center;
    font-size: 14px;
    color:#555
}
